{% extends 'base.html.twig' %}

{% block title %}Experience | Le Jeu de la Vie{% endblock %}

{% block body %}
<link href="{{ asset('css/experience/jeuDeLaVie/styles.css') }} " rel="stylesheet" />

<div class="container text-center">
    <div id="controls" class="mb-3">
        <button id="play" class="btn btn-success mx-2">Play</button>
        <button id="reset" class="btn btn-danger mx-2">Reset</button>
    </div>
    <div id="grid-wrapper">
        <div id="grid"></div>
    </div>
</div>



<script src="{{ asset('js/experience/jeuDeLaVie/script.js') }}"></script>
{% endblock %}
