{% extends 'base.html.twig' %}

{% block title %}Projets | Mon Portfolio{% endblock %}

{% block body %}
<section class="page-section portfolio" id="portfolio">
    <div class="container">
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Projets</h2>
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>

        <div class="row justify-content-center">
            {% include 'projets/semaphore.html.twig' %}
            {% include 'projets/jeuDeLaVie.html.twig' %}
            {% include 'projets/rubiksCube.html.twig' %}

        </div>
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Événements</h2>
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <div class="row justify-content-center">
            {% include 'projets/nuitInfo2023.html.twig' %}
            {% include 'projets/nuitInfo2024.html.twig' %}
            {% include 'projets/24hInfo.html.twig' %}
        </div>
    </div>
</section>


{% endblock %}
