<div class="col-md-6 col-lg-4 mb-5">
    <div class="portfolio-item mx-auto border-0 shadow" data-bs-toggle="modal" data-bs-target="#envi-bis">
        <div class="portfolio-label badge bg-danger">Projet professionnel</div>
        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
            <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
        </div>
        <h1 class="text-center" style="height: 150px; width: 100%; line-height: 150px; margin: 0; border-radius: 10px;">EnviBis</h1>
    </div>
</div>

<div class="portfolio-modal modal fade" id="envi-bis" tabindex="-1" aria-labelledby="envi-bis" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0">
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center pb-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">EnviBis</h2>
                            <h3 class="text-secondary mb-0">Projet professionnel</h3>
                            <!-- Icon Divider-->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <p style='text-align: justify' class="mb-4">
                                <strong>EnviBis</strong> est un système d'information développé en interne au laboratoire. Il s'agit d'une version améliorée de <strong>SILEX-LBE</strong>, conçue pour la gestion et la visualisation des données acquises pendant les expériences. Ce système intègre des ontologies dans une approche de web sémantique, permettant de mieux structurer et enrichir les données expérimentales.
                                <br><br>
                                Ce projet vise à améliorer la gestion des données de bioprocédés et à fournir une interface web permettant aux utilisateurs de visualiser et d'interagir avec ces données de manière plus intuitive et sémantique.
                            </p>

                            <p style='text-align: justify' class="mb-4">
                                Mon rôle dans ce projet a été de réaliser une sémantisation des données d'acquisition au format MongoDB, en les convertissant en données RDF (N-Quads). Par la suite, j'ai effectué des tests de performance sur différents SGBD RDF tels que <strong>RDF4J</strong> et <strong>GraphDB</strong> pour déterminer celui qui serait le plus performant et adapté dans le contexte actuel et futur du projet.
                            </p>

                            <h4 class="text-secondary">Technologies et Méthodologies Utilisées</h4>
                            <div class="row justify-content-center mb-4">
                                <div class="col-md-3 text-center">
                                    <img src="https://upload.wikimedia.org/wikipedia/commons/c/c3/Python-logo-notext.svg" alt="Python" class="img-fluid mb-2 tech-image">
                                    <p>Python</p>
                                </div>
                                <div class="col-md-3 text-center">
                                    <img src="https://upload.wikimedia.org/wikipedia/commons/9/93/MongoDB_Logo.svg" alt="MongoDB" class="img-fluid mb-2 tech-image">
                                    <p>MongoDB</p>
                                </div>
                                <div class="col-md-3 text-center">
                                    <img src="https://upload.wikimedia.org/wikipedia/commons/b/b2/Ontotext_GraphDB_Logo.png" alt="GraphDB" class="img-fluid mb-2 tech-image">
                                    <p>GraphDB</p>
                                </div>
                                <div class="col-md-3 text-center">
                                    <img src="https://rdf4j.org/images/rdf4j-logo-orange-114.png" alt="RDF4J" class="img-fluid mb-2 tech-image">
                                    <p>RDF4J</p>
                                </div>
                            </div>
                            <button class="btn btn-primary" data-bs-dismiss="modal">
                                <i class="fas fa-xmark fa-fw"></i>
                                Fermer
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
