<div class="col-md-6 col-lg-4 mb-5">
    <div class="portfolio-item mx-auto border-0 shadow" data-bs-toggle="modal" data-bs-target="#ndi2022">
        <div class="portfolio-label badge bg-success"><i class="fas fa-map-marker-alt fa-1x mb-0 text-primary"></i> Montpellier</div>
        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
            <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
        </div>
        <h1 class="text-center" style="height: 150px; width: 100%; line-height: 150px; margin: 0; border-radius: 10px;">NDI 2022</h1>
    </div>
</div>
<div class="portfolio-modal modal fade" id="ndi2022" tabindex="-1" aria-labelledby="ndi2022" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0">
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center pb-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Nuit de l'Info 2022</h2>
                            <h3 class="text-secondary mb-0">Événement national</h3>
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <p style='text-align: justify' class="mb-4">
                                La <strong>Nuit de l'Info</strong> est un événement annuel organisé à l'IUT de Montpellier en compétition avec des équipes partout en france,
                                où les élèves relèvent divers défis en petits groupes, travaillant du crépuscule jusqu'à l'aube.
                                Cette année-là, le <strong>défi principal</strong> portait sur la <strong>sensibilisation aux MST</strong>. Cela représentait ainsi le défi principal de la nuit :
                                créer un sérious game sur la sensibilisation à ces maladies. En parallèle, nous avons relevé plusieurs défis secondaires proposés par des entreprises.
                                Nous avons particulièrement apprécié cette première expérience qui nous a permis de développer nos compétences en équipe et d'améliorer notre capacité à répondre à des
                                défis complexes en un temps limité.
                            </p>
                            <img class="img-fluid rounded mb-4" src="{{ asset('assets/img/portfolio/ndi2022.jpg') }}" alt="Nuit de l'info 2022" />
                            <h4 class="text-secondary">Résultats</h4>
                            <ul class="text-left">
                                🥉 3e/518 - Classement pour le défi principal
                            </ul>
                            <button class="btn btn-primary" data-bs-dismiss="modal">
                                <i class="fas fa-xmark fa-fw"></i>
                                Close Window
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
