<div class="col-md-6 col-lg-4 mb-5">
    <div class="portfolio-item mx-auto border-0 shadow" data-bs-toggle="modal" data-bs-target="#ndi2023">
        <div class="portfolio-label badge bg-success"><i class="fas fa-map-marker-alt fa-1x mb-0 text-primary"></i> Montpellier</div>
        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
            <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
        </div>
        <h1 class="text-center" style="height: 150px; width: 100%; line-height: 150px; margin: 0; border-radius: 10px;">NDI 2023</h1>
    </div>
</div>
<div class="portfolio-modal modal fade" id="ndi2023" tabindex="-1" aria-labelledby="ndi2023" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0">
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center pb-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Nuit de l'Info 2023</h2>
                            <h3 class="text-secondary mb-0">Événement national</h3>
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <p style='text-align: justify' class="mb-4">
                                Lors de la <strong>Nuit de l'Info 2023</strong>, notre équipe a relevé plusieurs défis, y compris un défi principal orienté sur la
                                sensibilisation au réchauffement climatique. En plus de ce défi, nous avons participé à des défis secondaires proposés par diverses
                                entreprises, comme <strong>Ubisoft</strong> et <strong>Air France</strong>, ce qui nous a permis de figurer sur le <strong>podium de trois d'entre eux</strong>. Ces épreuves ont
                                renforcé nos compétences techniques tout en nous offrant l'opportunité de collaborer étroitement et de réagir rapidement à des
                                problèmes complexes. Nous avons particulièrement apprécié cette expérience qui nous a permis de mettre en pratique nos
                                connaissances et de relever des défis stimulants en équipe.
                            </p>
                            <img class="img-fluid rounded mb-4" src="{{ asset('assets/img/portfolio/ndi2023.png') }}" alt="Nuit de l'Info 2023" />
                            <h4 class="text-secondary">Résultats</h4>
                            <p>🥇 1e/71 - Défi de création de jeu de rythme</p>
                            <p>🥈 2e/55 - Défi de création SVG</p>
                            <p>🥉 3e/81 - Défi page de Noël</p>
                            <button class="btn btn-primary" data-bs-dismiss="modal">
                                <i class="fas fa-xmark fa-fw"></i>
                                Close Window
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
