<div class="col-md-6 col-lg-4 mb-5">
    <div class="portfolio-item mx-auto border-0 shadow" data-bs-toggle="modal" data-bs-target="#semaphore">
        <div class="portfolio-label badge bg-info">Projet d'étude</div>
        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
            <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
        </div>
        <h1 class="text-center" style="height: 150px; width: 100%; line-height: 150px; margin: 0; border-radius: 10px;">Semaphore</h1>
    </div>
</div>


<div class="portfolio-modal modal fade" id="semaphore" tabindex="-1" aria-labelledby="semaphore" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0">
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center pb-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Semaphore</h2>
                            <h3 class="text-secondary mb-0">Projet d'étude</h3>
                            <!-- Icon Divider-->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <p class="mb-4">
                                <strong>Semaphore</strong> est un projet développé durant mes études à l'<strong>IUT</strong>, visant à créer un <em>système d'information</em> pour faciliter la <strong>gestion des stages et des alternances</strong> des étudiants par les professeurs. En travaillant en <strong>équipe de cinq</strong>, nous avons appliqué nos connaissances en <strong>développement web</strong> et en <a href="https://fr.wikipedia.org/wiki/Gestion_de_projet" target="_blank">gestion de projet</a>, en adoptant des <a href="https://fr.wikipedia.org/wiki/M%C3%A9thode_agile" target="_blank">méthodes agiles</a>. 
                                Ce projet nous a permis d’intégrer plusieurs <strong>API</strong> pour enrichir les fonctionnalités, telles que :
                                <ul>
                                    <li><strong><a href="https://developers.google.com/maps" target="_blank">API Google Maps</a></strong> pour la <em>géolocalisation</em> des entreprises, facilitant la recherche et le placement des étudiants.</li>
                                    <li><strong><a href="https://api.gouv.fr/les-api/sirene_v3" target="_blank">API Sirene</a></strong> pour obtenir des <em>informations simplifiées sur les entreprises</em> et garantir l'exactitude des données.</li>
                                </ul>
                                Travailler sur <strong>Semaphore</strong> nous a offert une expérience pratique de <strong>collaboration en équipe</strong> tout en utilisant des technologies actuelles pour répondre à des besoins concrets.
                            </p>
                            <img class="img-fluid rounded mb-4" src="{{ asset('assets/img/portfolio/semaphore-web.png') }}" alt="..." />
                            <h4 class="text-secondary">Technologies et Méthodologies Utilisées</h4>
                            <div class="row justify-content-center mb-4">
                                <div class="col-md-4">
                                    <img src="https://upload.wikimedia.org/wikipedia/commons/9/99/Unofficial_JavaScript_logo_2.svg" alt="JavaScript" class="img-fluid mb-2 tech-image">
                                    <p>JavaScript</p>
                                </div>
                                <div class="col-md-4">
                                    <img src="https://upload.wikimedia.org/wikipedia/commons/2/27/PHP-logo.svg" alt="PHP" class="img-fluid mb-2 tech-image">
                                    <p>PHP</p>
                                </div>
                                <div class="col-md-4">
                                    <img src="https://www.svgrepo.com/show/372946/scrum.svg" alt="Management Agile" class="img-fluid mb-2 tech-image">
                                    <p>Management Agile (SCRUM)</p>
                                </div>
                                <div class="col-md-4">
                                    <img src="https://upload.wikimedia.org/wikipedia/commons/e/e0/Git-logo.svg" alt="Git" class="img-fluid mb-2 tech-image">
                                    <p>Git</p>
                                </div>
                                <div class="col-md-4">
                                    <img src="https://upload.wikimedia.org/wikipedia/commons/8/87/Sql_data_base_with_logo.png" alt="SQL" class="img-fluid mb-2 tech-image">
                                    <p>SQL</p>
                                </div>
                            </div>
                            <button class="btn btn-primary" data-bs-dismiss="modal">
                                <i class="fas fa-xmark fa-fw"></i>
                                Close Window
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>