<div class="col-md-6 col-lg-4 mb-5">
    <div class="portfolio-item mx-auto border-0 shadow" data-bs-toggle="modal" data-bs-target="#silex-lbe">
        <div class="portfolio-label badge bg-danger">Projet professionnel</div>
        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
            <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
        </div>
        <h1 class="text-center" style="height: 150px; width: 100%; line-height: 150px; margin: 0; border-radius: 10px;">SILEX-LBE</h1>
    </div>
</div>

<div class="portfolio-modal modal fade" id="silex-lbe" tabindex="-1" aria-labelledby="silex-lbe" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0">
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center pb-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">SILEX-LBE</h2>
                            <h3 class="text-secondary mb-0">Projet professionnel</h3>
                            <!-- Icon Divider-->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <p style='text-align: justify' class="mb-4">
                                <strong>SILEX-LBE</strong> est un système d'information développé pour l'UR LBE de Narbonne. Il est conçu pour gérer, collecter et analyser les données issues des <strong>bioprocédés</strong>, permettant ainsi aux chercheurs et aux ingénieurs de suivre et optimiser les processus expérimentaux. Le système est utilisé dans diverses études liées aux bioprocédés, comme les cultures microbiologiques ou des expériences d'électrofermentation.
                                <br><br>
                                Ce projet représente un enjeu majeur pour la gestion des données des bioprocédés. Le logiciel offre une interface web permettant aux utilisateurs de visualiser et d'interagir avec les données expérimentales de manière intuitive.
                            </p>

                            <p style='text-align: justify' class="mb-4">
                                Mon rôle dans ce projet a été, dans un premier temps, de mettre à jour le code PHP existant, en ajoutant de nouvelles fonctionnalités et en améliorant l'interface utilisateur. J'ai également participé à la conception de nouvelles fonctionnalités, en collaboration avec les chercheurs du laboratoire. Enfin, j'ai contribué à la documentation du code et à la formation des utilisateurs.
                                <br><br>
                                Parallèlement, j'ai effectué la mise en place de l'infrastructure de développement et de production, en utilisant des technologies comme <strong>Docker</strong> et <strong>GitLab CI/CD</strong>.
                            </p>

                            <img class="img-fluid rounded mb-4" src="{{ asset('assets/img/portfolio/silex-lbe.png') }}" alt="SILEX-LBE" />

                            <h4 class="text-secondary">Technologies et Méthodologies Utilisées</h4>
                            <div class="row justify-content-center mb-4">
                                <div class="col-md-3 text-center">
                                    <img src="https://upload.wikimedia.org/wikipedia/commons/9/99/Unofficial_JavaScript_logo_2.svg" alt="JavaScript" class="img-fluid mb-2 tech-image">
                                    <p>JavaScript</p>
                                </div>
                                <div class="col-md-3 text-center">
                                    <img src="https://upload.wikimedia.org/wikipedia/commons/2/27/PHP-logo.svg" alt="PHP" class="img-fluid mb-2 tech-image">
                                    <p>PHP</p>
                                </div>
                                <div class="col-md-3 text-center">
                                    <img src="https://upload.wikimedia.org/wikipedia/commons/3/3f/Git_icon.svg" alt="Git" class="img-fluid mb-2 tech-image">
                                    <p>Git</p>
                                </div>
                                <div class="col-md-3 text-center">
                                    <img src="https://www.docker.com/wp-content/uploads/2022/03/Moby-logo.png" alt="Docker" class="img-fluid mb-2 tech-image">
                                    <p>Docker</p>
                                </div>
                                <div class="col-md-3 text-center">
                                    <img src="https://about.gitlab.com/images/icons/ci-cd-logo.svg" alt="GitLab" class="img-fluid mb-2 tech-image">
                                    <p>GitLab CI/CD</p>
                                </div>
                            </div>
                            <button class="btn btn-primary" data-bs-dismiss="modal">
                                <i class="fas fa-xmark fa-fw"></i>
                                Fermer
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
