{% extends 'base.html.twig' %}

{% block title %}Accueil | Mon Portfolio{% endblock %}

{% block body %}
    {% include('home/masterhead.html.twig') %}

    <!-- About Section-->
    <section class="page-section mb-0" id="about">
        <div class="container">
            <!-- About Section Heading -->
            <h2 class="page-section-heading text-center text-uppercase">À propos</h2>
            <!-- Icon Divider -->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- About Section Content -->
            <div class="row">
                <!-- Photo personnelle -->
                <div class="col-lg-4 ms-auto text-center">
                    <img src="{{ asset('assets/img/photo_perso.jpg') }}" style="height: 250px" class="rounded-circle img-fluid" alt="Dimitri Martel">
                </div>
                <!-- Texte de présentation -->
                <div class="col-lg-8 me-auto">
                    <p style="text-align : justify;" class="lead">
                        Actuellement en 3ème année de BUT informatique à l'<a href="https://iut-montpellier-sete.edu.umontpellier.fr/" target="_blank">IUT de Montpellier/Sète</a>,
                        je me spécialise dans la filière RACDV.
                        Depuis septembre 2024, je suis en alternance au laboratoire de recherche <a href="https://narbonne.montpellier.hub.inrae.fr/" target="_blank">INRAE LBE</a>
                        à Narbonne où je travaille sur différents systèmes d'informations pour la gestion des bio-procédés.
                    </p>
                    <p style="text-align : justify;" class="lead">
                        Mon objectif est d'intégrer prochainement une école d'ingénieur afin d'approfondir
                        mes compétences techniques et développer une expertise dans des domaines comme le DevOps,
                        la gestion de l'infrastructure à grande échelle, ainsi que l'automatisation des processus de développement et de déploiement.
                        Je suis convaincu que cette formation me permettra d'acquérir des connaissances avancées dans
                        des technologies de pointe et de participer à des projets innovants.
                    </p>

                </div>
            </div>

            <!-- Icones de contact -->
            <div class="row text-center mt-5">
                <div class="col-lg-3">
                    <i class="fas fa-phone fa-3x mb-3 text-primary"></i>
                    <p>(+33) 6 51 25 53 46</p>
                </div>
                <div class="col-lg-3">
                    <i class="fas fa-envelope fa-3x mb-3 text-primary"></i>
                    <p>martel.dimitri@laposte.net</p>
                </div>
                <div class="col-lg-3">
                    <i class="fas fa-map-marker-alt fa-3x mb-3 text-primary"></i>
                    <p>Montpellier, France</p>
                </div>
                <div class="col-lg-1">
                    <a href="https://github.com/DimMarr" target="_blank" class="text-primary">
                        <i class="fab fa-github fa-3x mb-3"></i>
                        <p>GitHub</p>
                    </a>
                </div>
                <div class="col-lg-2">
                    <a href="https://www.linkedin.com/in/dimitrimartel" target="_blank" class="text-primary">
                        <i class="fab fa-linkedin fa-3x mb-3"></i>
                        <p>LinkedIn</p>
                    </a>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-center align-items-center">
            <a href="{{ asset('assets/uploads/CV-Martel-Dimitri.pdf') }}" download="Dimitri_Martel_CV" class="btn btn-primary btn-lg">
                <i class="fas fa-download"></i> Télécharger mon CV
            </a>
        </div>

    </section>

    {% include('home/skills.html.twig') %}

{% endblock %}
