{% extends 'base.html.twig' %}

{% block title %}Accueil | Mon Portfolio{% endblock %}

{% block body %}
    {% include('home/masterhead.html.twig') %}

    <!-- About Section-->
    <section class="page-section mb-0" id="about">
        <div class="container">
            <!-- About Section Heading -->
            <h2 class="page-section-heading text-center text-uppercase">À propos</h2>
            <!-- Icon Divider -->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- About Section Content -->
            <div class="row">
                <!-- Photo personnelle -->
                <div class="col-lg-4 ms-auto text-center">
                    <img src="https://via.placeholder.com/250" class="rounded-circle img-fluid" alt="Photo personnelle de Dimitri Martel">
                </div>
                <!-- Texte de présentation -->
                <div class="col-lg-8 me-auto">
                    <p class="lead">
                        Je suis Dimitri Martel, j'ai 19 ans et voici mon portfolio.
                        Actuellement en 3ème année de BUT informatique à l'IUT de Montpellier/Sète, je me spécialise dans la filière
                        RACDV. Depuis septembre 2024, je suis en alternance à INRAE LBE à Narbonne où je travaille sur des projets
                        de développements web et sur l'optimisation des systèmes informatiques pour les bioprocédés.
                    </p>
                    <p class="lead">
                        En parallèle de mes études, je me consacre au développement web, avec une expertise en Symfony,
                        et la manipulation des outils DevOps (docker, kubernetes, Ansible, CI/CD, etc).
                        Mon objectif est d'apporter des solutions innovantes et performantes aux entreprises grâce à l'automatisation des processus,
                        la sécurité et la fiabilité des infrastructures.
                    </p>
                </div>
            </div>
            <!-- Icones de contact -->
            <div class="row text-center mt-5">
                <div class="col-lg-3">
                    <i class="fas fa-phone fa-3x mb-3 text-primary"></i>
                    <p>(+33) 6 51 25 53 46</p>
                </div>
                <div class="col-lg-3">
                    <i class="fas fa-envelope fa-3x mb-3 text-primary"></i>
                    <p>martel.dimitri@laposte.net</p>
                </div>
                <div class="col-lg-3">
                    <i class="fas fa-map-marker-alt fa-3x mb-3 text-primary"></i>
                    <p>Montpellier, France</p>
                </div>
                <div class="col-lg-1">
                    <a href="https://github.com/DimMarr" target="_blank" class="text-primary">
                        <i class="fab fa-github fa-3x mb-3"></i>
                        <p>GitHub</p>
                    </a>
                </div>
                <div class="col-lg-2">
                    <a href="https://www.linkedin.com/in/dimitrimartel" target="_blank" class="text-primary">
                        <i class="fab fa-linkedin fa-3x mb-3"></i>
                        <p>LinkedIn</p>
                    </a>
                </div>
            </div>
        </div>
    </section>

    {% include('home/skills.html.twig') %}

{% endblock %}
