
<section class="page-section" id="skills">
    <div class="container">
        <!-- Skills Section Heading -->
        <h2 class="page-section-heading text-center text-uppercase mb-5">Mes Compétences</h2>

        <!-- Cards Grid -->
        <div class="row justify-content-center">
            <!-- Compétence PHP -->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="card h-100 text-center border-0 shadow">
                    <div class="card-body d-flex flex-column align-items-center">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/2/27/PHP-logo.svg" alt="PHP Logo" class="img-fluid mb-3 skill-logo">
                        <h5 class="card-title">PHP</h5>
                        <div class="stars mb-3">
                            <i class="fas fa-star gold-star"></i>
                            <i class="fas fa-star gold-star"></i>
                            <i class="fas fa-star gold-star"></i>
                            <i class="fas fa-star gold-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Compétence Symfony -->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="card h-100 text-center border-0 shadow">
                    <div class="card-body d-flex flex-column align-items-center">
                        <img src="https://img.icons8.com/?size=512&id=78295&format=png" alt="PHP Logo" class="img-fluid mb-3 skill-logo">
                        <h5 class="card-title">Symfony</h5>
                        <div class="stars mb-3">
                            <i class="fas fa-star gold-star"></i>
                            <i class="fas fa-star gold-star"></i>
                            <i class="fas fa-star gold-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Compétence JavaScript -->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="card h-100 text-center border-0 shadow">
                    <div class="card-body d-flex flex-column align-items-center">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/9/99/Unofficial_JavaScript_logo_2.svg" alt="JavaScript Logo" class="img-fluid mb-3 skill-logo">
                        <h5 class="card-title">JavaScript</h5>
                        <div class="stars mb-3">
                            <i class="fas fa-star gold-star"></i>
                            <i class="fas fa-star gold-star"></i>
                            <i class="fas fa-star gold-star"></i>
                            <i class="fas fa-star gold-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Compétence SQL -->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="card h-100 text-center border-0 shadow">
                    <div class="card-body d-flex flex-column align-items-center">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/8/87/Sql_data_base_with_logo.png" alt="SQL Logo" class="img-fluid mb-3 skill-logo">
                        <h5 class="card-title">SQL</h5>
                        <div class="stars mb-3">
                            <i class="fas fa-star gold-star"></i>
                            <i class="fas fa-star gold-star"></i>
                            <i class="fas fa-star gold-star"></i>
                            <i class="fas fa-star gold-star"></i>
                            <i class="fas fa-star gold-star"></i>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Compétence Docker -->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="card h-100 text-center border-0 shadow">
                    <div class="card-body d-flex flex-column align-items-center">
                        <img src="https://www.docker.com/wp-content/uploads/2022/03/Moby-logo.png" alt="Docker Logo" class="img-fluid mb-3 skill-logo">
                        <h5 class="card-title">Docker</h5>
                        <div class="stars mb-3">
                            <i class="fas fa-star gold-star"></i>
                            <i class="fas fa-star gold-star"></i>
                            <i class="fas fa-star gold-star"></i>
                            <i class="fas fa-star gold-star"></i>
                            <i class="fas fa-star gold-star"></i>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Compétence C -->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="card h-100 text-center border-0 shadow">
                    <div class="card-body d-flex flex-column align-items-center">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/1/19/C_Logo.png" alt="C Logo" class="img-fluid mb-3 skill-logo">
                        <h5 class="card-title">C</h5>
                        <div class="stars mb-3">
                            <i class="fas fa-star gold-star"></i>
                            <i class="fas fa-star gold-star"></i>
                            <i class="fas fa-star gold-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Compétence Git -->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="card h-100 text-center border-0 shadow">
                    <div class="card-body d-flex flex-column align-items-center">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/e/e0/Git-logo.svg" alt="Git Logo" class="img-fluid mb-3 skill-logo">
                        <h5 class="card-title">Git</h5>
                        <div class="stars mb-3">
                            <i class="fas fa-star gold-star"></i>
                            <i class="fas fa-star gold-star"></i>
                            <i class="fas fa-star gold-star"></i>
                            <i class="fas fa-star gold-star"></i>
                            <i class="fas fa-star gold-star"></i>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Compétence Java -->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="card h-100 text-center border-0 shadow">
                    <div class="card-body d-flex flex-column align-items-center">
                        <img src="https://upload.wikimedia.org/wikipedia/fr/2/2e/Java_Logo.svg" alt="Java Logo" class="img-fluid mb-3 skill-logo">
                        <h5 class="card-title">Java</h5>
                        <div class="stars mb-3">
                            <i class="fas fa-star gold-star"></i>
                            <i class="fas fa-star gold-star"></i>
                            <i class="fas fa-star gold-star"></i>
                            <i class="fas fa-star gold-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Compétence Python -->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="card h-100 text-center border-0 shadow">
                    <div class="card-body d-flex flex-column align-items-center">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/c/c3/Python-logo-notext.svg" alt="Python Logo" class="img-fluid mb-3 skill-logo">
                        <h5 class="card-title">Python</h5>
                        <div class="stars mb-3">
                            <i class="fas fa-star gold-star"></i>
                            <i class="fas fa-star gold-star"></i>
                            <i class="fas fa-star gold-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Compétence CI/CD -->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="card h-100 text-center border-0 shadow">
                    <div class="card-body d-flex flex-column align-items-center">
                        <img src="https://about.gitlab.com/images/icons/ci-cd-logo.svg" alt="CI/CD Logo" class="img-fluid mb-3 skill-logo">
                        <h5 class="card-title">CI/CD</h5>
                        <div class="stars mb-3">
                            <i class="fas fa-star gold-star"></i>
                            <i class="fas fa-star gold-star"></i>
                            <i class="fas fa-star gold-star"></i>
                            <i class="fas fa-star gold-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Compétence Bash -->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="card h-100 text-center border-0 shadow">
                    <div class="card-body d-flex flex-column align-items-center">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4b/Bash_Logo_Colored.svg/768px-Bash_Logo_Colored.svg.png?20180723054350" alt="Bash Logo" class="img-fluid mb-3 skill-logo">
                        <h5 class="card-title">Bash</h5>
                        <div class="stars mb-3">
                            <i class="fas fa-star gold-star"></i>
                            <i class="fas fa-star gold-star"></i>
                            <i class="fas fa-star gold-star"></i>
                            <i class="fas fa-star gold-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>