<section class="page-section" id="skills">
    <div class="container">
        <!-- Skills Section Heading -->
        <h2 class="page-section-heading text-center text-uppercase mb-5">Mes Compétences</h2>

        <!-- Cards Grid -->
        <h3 class="text-center text-uppercase mb-4">Langages de Programmation</h3>
        <div class="row justify-content-center" id="skills-grid"></div>

        <h3 class="text-center text-uppercase mb-4">Logiciels/Outils pratiqués</h3>
        <div class="row justify-content-center" id="tools-grid"></div>
    </div>
</section>

<script src="{{ asset('js/home/skills.js') }}"></script>
